<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="model.BoardDTO" alias="BoardDTO" />
		<typeAlias type="model.Board" alias="Board" />
		<typeAlias type="model.CommentDTO" alias="Comment" />
		<typeAlias type="model.DriverDTO" alias="Driver" />
		<typeAlias type="model.CommentDTO" alias="CommentDTO" />
		<typeAlias type="model.BoardForUpdate" alias="BoardForUpdate" />
	</typeAliases>
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="oracle.jdbc.driver.OracleDriver" />
				<property name="url" value="jdbc:oracle:thin:@dblab.dongduk.ac.kr:1521:orcl" />
				<property name="username" value="dbpr0207" />
				<property name="password" value="0977" />
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="repository/mybatis/mapper/BoardMapper.xml" />
		<mapper resource="repository/mybatis/mapper/CustomerMapper.xml" />
		<mapper resource="repository/mybatis/mapper/DriverMapper.xml" />
		
		<!-- interface로 정의했을때 -->
		<mapper resource="repository.mybatis.mapper.CustomerMapper" />
		<mapper resource="repository.mybatis.mapper.DriverMapper" />
	</mappers>
</configuration>